body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: black;
  }
  .jumbotron {
    position: fixed;
    background: #ecd6e2;
    color: #571c3f;
    padding: 2rem;
    top: 0%;
    width: 2000px; 
    font-size: large;
    text-align: center;
  }
  .container {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
  }

  footer {
    background: #ecd6e2;
    color: #571c3f;
    padding: 2rem;
    text-align: center;
    position: sticky;
    margin-bottom: 0px;
  }

  a {
    color: #571c3f;
  }



  .navbar {
    overflow: hidden;
    background-color: #ecd6e2;
    position: fixed;
    top: 20%;
  }
  
  .navbar a {
    display: flex;
    flex-direction: row;
    background-color: #ecd6e2;
    color: #571c3f;
    text-align: center;
    padding: 14px 140px;
    text-decoration: none;
    font-size: 17px;

  }
  
  .navbar a:hover {
    background-color: #e7c4d9;
    color: #571c3f;
  }
  
  .navbar a.active {
    background-color: #d3b2c4;
    color: #571c3f;
  }

  .nav-list {
    background: #ecd6e2;
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}